{
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "semi": true,
    "arrowParens": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false
}